<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="payment_method_assign_data">
        <observer name="payment_data_assign" instance="Barzahlen\Payment\Observer\DataAssignObserver" />
    </event>

    <event name="payment_method_is_active">
        <observer name="barzahlen" instance="Barzahlen\Payment\Observer\PaymentMethodAvailable" />
    </event>

    <event name="sales_order_place_after">
        <observer name="barzahlen_sales_order_place_after" instance="Barzahlen\Payment\Observer\Sales\Order" />
    </event>

</config>
