.barzahlen-payment-logo {
    background: url("../img/barzahlen_logo_backend.png") no-repeat;
    width: 401px;
    height: 100px;
    display: inline-block;
}

.barzahlen-payment-label {
    font-size: 25px;
    position: relative;
    top: -10px;
}